[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Transmissionic
Comment=Remote for Transmission Daemon
MimeType=application/x-bittorrent;x-scheme-handler/magnet;